// media queries
// ////////////////////////////////////


@mixin breakpoint($point) {
	@if $point==xsmall {
		@media (min-width: 480px) {@content;}
	}
	@if $point==small {
		@media (min-width: 641px) {@content;}
	}
	@if $point==medium {
		@media (min-width: 981px) {@content;}
	}
	@if $point==large {
		@media (min-width: 1025px) {@content;}
	}
	@if $point==xlarge {
		@media (min-width: 1400px) {@content;}
	}
}


// media queries helpers
@mixin xsmall { @include breakpoint(xsmall) { @content; } }
@mixin small { @include breakpoint(small) { @content; } }
@mixin medium { @include breakpoint(medium) { @content; } }
@mixin large { @include breakpoint(large) { @content; } }
@mixin xlarge { @include breakpoint(xlarge) { @content; } }


// button theme
// ////////////////////////////////////

@mixin button-theme($bg, $scale) {
	background-color: $bg;
	&:hover {
		background-color: scale-color($bg, $lightness: $scale);
	}
}

// gradient
// ////////////////////////////////////

@mixin linear-gradient($from, $to, $deg) {
	background-color: $to; // ie fallback
	background: linear-gradient($deg, $from, $to);
}


// rem calculation
// ////////////////////////////////////

@function calculateRem($size) {
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}

@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
}


// opacity
// ////////////////////////////////////

@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}

// box sizing
// ////////////////////////////////////

@mixin box-sizing($type) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	box-sizing:         $type;
}

// clearfix
// ////////////////////////////////////

@mixin clearfix() {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}