// settings

$body-type: 'Montserrat', Arial, sans-serif;
$base-font-size: 16px;


// ////////////////

html {
	font-size: $base-font-size;
}

body {
	font-family: $body-type;
	color: $body-color;
	font-weight: normal;
	// line-height: 1;
	@include font-size(15px);
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	line-height: 1.8;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

// headings

@mixin headings {
    h1, h2, h3
    h4, h5, h6 {
        @content;
    }
}

@include headings {
	margin: 0;
	padding: 0;
	color: inherit;
	font-weight: normal;
}

$mobile-base-header-size: 5px;
$base-header-size: 10px;

h1 {
	font-size: $base-header-size * 6 / 2;
	@include medium {
		font-size: $base-header-size * 6;
	}
}

h2 {
	@include medium {
		font-size: $base-header-size * 4;
	}
}

h3 {
	@include medium {
		font-size: $base-header-size * 4;
	}
}