// colors 

$gray: #373c3f;
$gray-dark: #202529;
$gray-light: #ebebeb;

$ocean: #19b4c6;
$ocean-dark: #088ca5;

$purple: #5b0fa1;
$purple-dark: #27212c;
$purple-light: #9282a0;

$pink: #bc3183;

$body-color: #515151;
$heading-color: #088ca5;