.page-article {
	padding: 50px;
	background: $gray-light;
	padding-bottom: 150px;
	@include font-size(14px);

	p {
		font-size: inherit;
		margin-bottom: 30px;
	}

	@include headings {
		color: $ocean-dark;
		margin-bottom: 30px;
	}
}