$block-grid-default-spacing: rem-calc(20) !default;

//
// Block Grid Mixins
//

@mixin block-grid(
	$per-row:false,
	$spacing:$block-grid-default-spacing,
	$include-spacing:true) {

	overflow: hidden;

	@if $per-row {
		&>li {
			width: 100%/$per-row;
			@if $include-spacing {
				padding: 0 ($spacing/2) $spacing;
			}
			list-style: none;
			display: block;
			float: left;

			&:nth-of-type(1n) { clear: none; }
			&:nth-of-type(#{$per-row}n+1) { clear: both; }
		}
	}

	
}
