%button {
	display: inline-block;
	cursor: pointer;
	padding: 0 25px;
	color: #fff;
	transition: background-color, color, .5s;
	@include font-size(13px);
}

.button-cta {
	@extend %button;
	display: block;
	background-color: $purple-dark;
	position: relative;
	color: $purple-light;
	padding: 25px 15px;

	@include xsmall {
		padding: 50px;
	}

	@include medium {
		padding: 100px 85px;
		@include font-size(30px);
	}

	&:hover {
		background-color: lighten($purple-dark, 5%);
		color: #fff;
	}

	&:before {
		display: block;
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		padding: 0 30px;
		background: $pink url('../images/arrow-big.png') center center no-repeat;
		background-size: 15px;

		@include xsmall {
			padding: 0 50px;
			background-size: 20px;
		}

		@include medium {
			padding: 0 110px;
			background-size: 20px;
		}
	}
}