$column-gutter: 30px;
$total-columns: 12;

@function grid-calc($colNumber, $totalColumns) {
	@return percentage(($colNumber / $totalColumns));
}

@mixin grid-column(
	$columns:false,
	$collapse:false) {

	@if $collapse {
		padding-left: 0;
		padding-right: 0;
	}

	@else if $collapse == false {
		padding-left: $column-gutter / 2;
		padding-right: $column-gutter / 2;
	}

	@if $columns {
		width: grid-calc($columns, $total-columns);
	}

	float: left;

}