* {
	@include box-sizing(border-box);
}

.page-wraper {
	transition: all, .5s;
	transform: translate(0,0);
}

.wraper {
	@include clearfix;
	max-width: 960px;
	margin: 0 auto;
}

.row {
	margin: 0 -15px;
	@include clearfix;
}

.col-2 {
	@include grid-column(12);
	
	@include small {
		@include grid-column(6);
	}
}