// settings

$nav-bar-bg: $gray;
$nav-bar-text: $gray-light;

$bar-height-medium: 100px;
$bar-height-xsmall: 75px;
$bar-height: 60px;
$side-nav-width: 300px;


// ////////////////

.nav-bar {
	background-color: $nav-bar-bg;
	color: $nav-bar-text;
	overflow: hidden;
	padding-left: 30px;
	position: relative;
	height: $bar-height;

	@include xsmall {
		height: $bar-height-xsmall;
	}
	
	@include medium {
		height: $bar-height-medium;
	}
	
	
}

.main-nav {
	position: fixed;
	top: 0;
	right: 0;
	width: $side-nav-width;
	height: 100%;
	background-color: $nav-bar-bg;
	z-index: 99;
	transition: all .5s;
	transform: translate($side-nav-width, 0);

	@include small {
		position: static;
		left: auto;
		right: auto;
		width: 100%;
		height: auto;
		transform: translate(0, 0);
	}

	li {
		@include small {
			display: block;
			float: left;
		}

		a {
			background-color: $nav-bar-bg;
			display: block;
			transition: background-color .5s;
			padding: 10px 25px;
			@include font-size(14px);

			// @include small {
			// 	padding: 0 25px;
			// 	height: $bar-height-xsmall;
			// }

			@include small {
				padding: 0 25px;
				height: $bar-height-xsmall;
				line-height: $bar-height-xsmall;
			}

			@include medium {
				height: $bar-height-medium;
				line-height: $bar-height-medium;
			}

			&.is-active { color: #fff; }

			&:hover {
				background-color: lighten($nav-bar-bg, 10%);
			}
		}
	}
}

.mobile-nav-trigger {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background-color: $gray-dark;
	color: #fff;
	width: $bar-height;

	&.active {
		background-color: $purple;
	}

	@include xsmall {
		width: $bar-height-xsmall;
	}

	@include small {
		display: none;
	}
}

.icon-hamburger {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	transform: translate(-50%,-50%);

	span {
		display: block;
		width: 30px;
		height: 4px;
		margin-bottom: 4px;
		background-color: #fff;
	}
}

.mobile-nav-label {
	color: $gray-light;
	line-height: 60px;
	@include font-size(24px);

	@include xsmall {
		line-height: 75px;
	}

	@include small {
		display: none;
	}
}


// states

.show-side-nav {
	// .main-nav {
	// 	transform: translate(0,0);
	// }
	.page-wraper {
		transform: translate(-$side-nav-width,0);

		@include small {
			transform: translate(0, 0);
		}
	}

	.mobile-nav-trigger {
		
	}
}