.page-header {
	color: #fff;
	padding: 70px 0;
	@include linear-gradient($ocean, darken($ocean, 10%), 120deg);

	@include xsmall {
		padding: 100px 0;
	}

	@include small {
		padding: 150px 0;
	}

	@include medium {
		height: 600px;
		padding: 0;
	}
	
	&:before {
		@include medium {
			width: 0;
			height: 100%;
			content: '';
			display: inline-block;
			vertical-align: middle;
		}
	}	
}

.page-header-intro {
	display: inline-block;
	vertical-align: middle;
	padding: 0 40px;
	width: 90%;

	@include medium {
		max-width: 850px;
		padding-left: 80px;
	}
}

.intro-subheader {
	&:hover {
		span { @include opacity(1); }
	}

	@include medium {
		@include font-size(34px);
	}

	a {
		display: block;
		background: url('../images/arrow-big.png') right center no-repeat;
		background-size: 15px;
	}

	span {
		@include opacity(.5);
		transition: color, 0.5s;
	}
}