// settings

$base-visual-height: 300px;
$xsmall-visual-height: 550px;
$small-visual-height: 250px;
$medium-visual-height: 300px;
$large-visual-height: 400px;

.visual {
	@include block-grid(1, 0);

	@include small {
		@include block-grid(3, 0);
	}
}

.visual-item {
	height: $base-visual-height;

	@include xsmall {
		height: $xsmall-visual-height
	}

	@include small {
		height: $small-visual-height
	}

	@include medium {
		height: $medium-visual-height;
	}

	@include large {
		height: $large-visual-height;
	}
}

.visual-link {
	display: block;
	height: 100%;
	background-color: $purple;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../images/arrow-big.png');
	transition: background-color, .5s;

	&:hover {
		background-color: lighten($purple, 10%);
	}

	@include medium {
		background-size: 20px;
	}
}

.owl-carousel {
	width: 100%;
	height: 100%;

	.slide {
		width: 100%;
		background-size: cover;
		height: $base-visual-height;

		&:hover { cursor: move; }

		@include xsmall {
			height: $xsmall-visual-height
		}

		@include small {
			height: $small-visual-height
		}

		@include medium {
			height: $medium-visual-height;
		}

		@include large {
			height: $large-visual-height;
		}
	}
}